<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrateur | Isis CMS</title>
    <%- include('../../../../Admin/asset/components/header') %> 
</head>
<body>
    <%- include('../../../../Admin/asset/components/nav') %> 
    <div class="container pt-5 mt-5">

        <div class="row">
            <div class="col-12 col-lg-6 card card-body">
                <h2>Gestion des matières</h2>
                <form action="/admin/fiche/categorie/delete/" method="post" class="form-control">
                    <select name="categorie" id="" class="form-control">
                        
                        <% categorie.forEach(categorie => { %>
                            <option value="<%= categorie.id %>"><%= categorie.name %></option>
                         
                        <% }) %>
                    </select>
                    <div class="pt-3">
                        <input type="submit" value="Supprimer" class="btn btn-danger">

                    </div>
                    

                </form>
                <div class="pt-3">
                    <form action="/admin/fiche/categorie/add" method="post" class="form-control">
                        <input type="text" name="categorie" id="" placeholder="Matière à ajouter" class="form-control">
                        <div class="pt-3">
                            <input type="submit" value="Ajouter" class="btn btn-primary">

                        </div>
                        

                    </form>

                </div>


            </div>

            <div class="col-12 col-lg-6 card card-body">
                <h2>Gestion des classes</h2>
                <form action="/admin/fiche/categorie/classe/delete/" method="post" class="form-control">
                    <select name="classe" id="" class="form-control">
                        
                        <% classe.forEach(classe => { %>
                           
                            
                            <option value="<%= classe.id %>"><%= classe.classe%></option>
                         
                        <% }) %>
                    </select>
                    <div class="pt-3">
                        <input type="submit" value="Supprimer" class="btn btn-danger">

                    </div>
                    

                </form>
                <div class="pt-3">
                    <form action="/admin/fiche/categorie/classe/add" method="post" class="form-control">
                        <input type="text" name="classe" id="" placeholder="Classe à ajouter" class="form-control">
                        <div class="pt-3">
                            <input type="submit" value="Ajouter" class="btn btn-primary">

                        </div>
                        

                    </form>

                </div>


            </div>

        </div>

    </div>
    
</body>
</html>
