<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partage ta fiche</title>
    <%- include(theme_header +'/header_css') %> 
    <%- include(theme_header +'/header_js') %> 
    <script src="/Themes/Ptf2k23/asset/js/categorie.js"></script>
    
</head>
<body>
    <%- include(theme_header +'/nav') %> 

    <section class="main container pt-5 mt-5">
        <h1>Rechercher des fiches</h1>

        <div class="row">
            <div class="col-12 col-lg-6">

                <form action="" method="post">
                    <div class="mb-3">
                        <label for="matiere">Matière :</label>
                        <select name="matiere" id="categorie" class="form-control" aria-placeholder="Matière">
                            <option value=""></option>


                        </select>

                    </div>
                    <div class="mb-3">
                        <label for="classe">Classe :</label>
                        <select name="classe" id="classe" class="form-control">
                            <option value=""></option>

                        </select>

                    </div>
                    <div class="mb-3">

                        <input type="submit" value="Rechercher" class="btn btn-primary">

                    </div>

                </form>

            </div>
            <div class="col-12 col-lg-6">

                <div class="container">
                    <div class="row">

                        <% fiche.forEach(fiche => { %>
                            <div class=" col-12 col-lg-6 mt-5 mt-lg-0 p-5 ">
                              <div class="card card-body align-items-center">
                                <h5 class="p-2 text-center"><%= fiche.title %></h5>
                                <img src="/public/upload/img/fiche/<%= fiche.file %>.png" alt="" class="img-fluid">
                                <div class="p-3 text-center"><a href="/fiche/view/<%= fiche.id %>" class="btn btn-secondary"> Voir la fiche</a></div>
                                
                    
                              </div>
                              </div>
                
                           
                          <% }) %>

                    </div>

                </div>



            </div>

        </div>


      

    </section>
    
    <%- include(theme_header +'/footer') %> 
   
    
    
</body>
</html>